/*--------------
 Shared styles
--------------- */
* {

    font-family: 'Mulish', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.text-color-gray {
    color: rgba(19, 19, 24, 0.70);

}

.text-color-white {
    color: #FFF;
}

.text-color-black {
    color: #131318;
}

.text-color-orange {
    color: #FF5400;
}

.text-paragraph {
    font-size: 1rem;
    font-weight: 400;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border: 0;
}
/*------------
   nav section
-------------- */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 135px;
}
nav ul{
    display:flex;
}
nav ul li{
    list-style: none;
    padding-left:25px;
    /* update */
}
nav ul a{
    text-decoration:none;
}


/*----------------
 banner section
---------------- */
.banner {
    width: 1170px;
    height: 500px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;

    margin: 0 auto 100px auto;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
}

.banner-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 16px;

    position: absolute;
    z-index: 2;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 3;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 24px;
}


.banner .text-description {
    text-align: center;
    width: 70%;
    padding-bottom: 48px;
}

.finding-place-sec {
    display: flex;
    gap: 24px;

    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}


.finding-place-sec input {
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;

    border: 0;
}

.finding-place-sec span {
    padding-left: 8px;
}

/* main section */
/* main {
    max-width: 1440px;
    margin: 0 auto;
} */
/* update */


/* popular tours section */

.popular-tours {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 135px;

}

.popular-tours-content {
    text-align: left;
}

.popular-tours-content .blog p {
    margin: 0;
}

.popular-tours-content .blog p,
.popular-tours-content .blog li {
    padding-top: 24px;
}

.blog p {
    width: 70%;
}

.blog-paragraph {
    margin-bottom: 32px;
}

.popular-tours .popular-tours-image {
    display: flex;
    justify-content: right;
    width: 540px;
    height: 550px;
}
/*---------------------
 Why Choose Us Section
----------------------- */
.choose-us-description{
    /* margin:0 auto; */

    display:flex;
    flex-direction:column;
    align-items:center;

    text-align:center;
}
.choose-us-description p{
    width:60%;
}
.choose-us-cards-first-two-card{
    display:flex;

}
.choose-us-cards-first-two-card .choose-us-card{
    width:calc(50% - 10px);
    border-radius:10px;
    padding:20px;
    /* update */
}
.choose-us-cards-first-two-card .choose-us-card-1{
    margin-right:20px;
    background-color: aliceblue;
    border: 1px solid yellowgreen;
    /* update */
}
.choose-us-cards-first-two-card .choose-us-card-2{
    background-color: lightblue;
    border: 1px solid blue;
    /* update */
}
.choose-us-cards-last-one-card{
    margin-top:20px;
    display:flex;
    justify-content: center;
    /* update */
}
.choose-us-cards-last-one-card .choose-us-card-3{
    width:calc(50% - 50px);
    border-radius:10px;
    padding:20px;

    background-color: lightpink;
    border: 1px solid pink;
    /* update */
}






/*--------------
 Footer section
---------------- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 110px 0;
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}

.happy-travel-logo {
    display: flex;
    align-items: center;
}

.happy-travel-logo-text {
    padding-left: 16px;
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;
}

.social-icons-container {
    display: flex;
    margin-top: 1rem;
}

.social-icon {
    margin-right: 2rem;
    cursor: pointer;
}

footer .footer-horizontal-line {
    width: 70%;
    margin: 50px 0;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

footer .copyright-text {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}




/* Responsive Media Queries */
/* --------------
    mobile screen
---------------- */
@media screen and (max-width:600px) {

    /* Mobile Responsive Shared Section */
    .text-paragraph {
        font-size: 0.875rem;
    }

    .section-title {
        font-size: 1.25rem;
    }
    /* Mobile Responsive Nav Section */
    nav{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:20px 135px;
    }


    /* Mobile Responsive Banner Section */
    .banner {
        width: auto;
        height: auto;
        padding: 32px 16px;
        margin: 20px;
    }


    .banner h1 {
        font-size: 1.4rem;
        padding-bottom: 8px;
    }

    .banner .text-description {
        font-size: 0.88rem;
        font-weight: 400;
        width: 100%;
        margin: 0;
        padding-bottom: 32px;
    }

    .finding-place-sec,
    .popular-tours {
        flex-direction: column;
        margin: 0;
    }

    /* Mobile Responsive popular-tours Section */
    .popular-tours {
        padding: 0 21px;
    }

    .popular-tours .popular-tours-content .section-title,
    .popular-tours .popular-tours-content ul {
        margin: 0;
    }

    .popular-tours .popular-tours-content {
        margin-bottom: 24px;
    }


    .popular-tours .popular-tours-image {
        width: 100%;
        height: auto;
    }

    .popular-tours-content .blog p,
    .popular-tours-content .blog li {
        padding-top: 16px;
    }
    /* Mobile Responsive why choose us section */
    .choose-us-cards-first-two-card{
        flex-direction:column;
    }
    .choose-us-cards-first-two-card .choose-us-card-1,
    .choose-us-cards-first-two-card .choose-us-card-2{
        width:100%;
        /* update */
    }
    .choose-us-card
    {
        flex:1;
        /* update */
    }

    /*Mobile Responsive footer section */
    footer {
        padding: 33px 44px;
    }

    .happy-travel-logo-text {
        padding-left: 9px;
        font-size: 1.3rem;
    }

    footer .social-icons-container {
        margin-top: 0;
    }

    footer .footer-horizontal-line {
        width: 90%;
        margin: 24px 0;
    }

}